<h1>Editing Initiative</h1>

<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "initiatives"} %>
<% end %>

<% content_for :main1 do %>
	<%= render 'form' %>
<% end %>

<% content_for  :sidebarwide do %>
<table class="table">
	<tr>
		<td class="danger"><%= if @initiative.active then link_to 'Archive Initiative', archive_initiative_path(@initiative) end  %></td>
	<tr>
		<td class="danger"><%= link_to 'Back', initiatives_path %></td>
</table>
<% end %>