/* line 5, app/assets/stylesheets/assignments.css.scss */
alink {
  color: #fff;
}

/* line 7, app/assets/stylesheets/assignments.css.scss */
alink:visited {
  color: #666;
}

/* line 10, app/assets/stylesheets/assignments.css.scss */
alink:hover {
  color: #fff;
  background-color: #000;
}
