<h1>TechSystems#new</h1>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "systems"} %>
<% end %>

<% content_for :main1 do %>
<%= render 'form' %>
<% end %>

<% content_for :sidebar do %>
<table class="table">
<tr>
	<td class="danger"><%= link_to 'Back', tech_systems_path %></td>
</table>
<% end %>
