<h3>TeamTrack Home</h3>
<p>Welcome to Team View.  This tool is intended to capture effort against projects on a weekly basis to support reporting and insight.</p>
<br/>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "login"} %>
<% end %>
<% if current_user and !current_user.verified %>
	<p>Your account is pending administrative approval.  Check back later</p>
<% else %>
	<p>Contact your manager if you do not have an account on the system.<p>
<% end %>
