<h1>Editing Setting</h1>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "settings"} %>
<% end %>

<% content_for :main1 do %>
	<%= render 'form' %>
<% end %>

<% content_for  :sidebarwide do %>
<table class="table">
	<tr>
		<td class="danger"><%= link_to 'Show', @setting %></td>
	<tr>
		<td class="danger"><%= link_to 'Back', settings_path %></td>
</table>
<% end %>


