<h1>Editing initiative</h1>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "projects"} %>
<% end %>

<% content_for :main1 do %>
	<%= render 'form' %>
<% end %>

<% content_for  :sidebarwide do %>
<table class="table">
	<tr>
		<td class="danger"><%= if @project.active then link_to 'Archive Initiative', {:controller => :projects, :action => 'archive', 
		:id => @project.id}, {:method => :get, :class => "link" } end %></td>
	<tr>
		<td class="danger"><%= link_to 'Back', projects_path %></td>
</table>
<% end %>